@font-face {
  font-family: 'Accuratist1';
  src:  url(Accuratist1.ttf.woff) format('woff'),
  url(Accuratist1.ttf.svg#Accuratist1) format('svg'),
  url(Accuratist1.ttf.eot);
  font-weight: normal;
  font-style: normal;
}