@import '../fonts/Accuratist/Accuratist';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500');
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/utilities/text';
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/bootstrap-grid';
@import "functions";
@import "mixins";

$color-brand-yellow: #efd100;
$color-link-blue: #00549e;
$color-text-black: #2e302e;
$font-family-accent: 'Accuratist1', sans-serif;
$font-family-base: 'Fira Sans', sans-serif;
$plank: 0.5rem;

h2 {
  font-size: 24px;
  line-height: 1;
  font-family: $font-family-base;
  font-weight: 500;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

html {
  font-size: 12px;

}

body {
  background-color: #cccfd5;
  background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.02) 0%, rgba(255, 0, 0, 0.02) 7%, rgba(255, 0, 0, 0.02) 10%, rgba(255, 0, 0, 0.02) 11%, rgba(255, 0, 0, 0.02) 12%, rgba(255, 252, 0, 0.02) 28%, rgba(1, 180, 57, 0.02) 45%, rgba(1, 207, 156, 0.02) 54%, rgba(0, 234, 255, 0.02) 60%, rgba(0, 119, 200, 0.02) 65%, rgba(0, 3, 144, 0.02) 75%, rgba(128, 2, 171, 0.02) 83%, rgba(255, 0, 198, 0.02) 88%, rgba(255, 0, 198, 0.02) 89%, rgba(255, 0, 198, 0.02) 93%, rgba(255, 0, 198, 0.02) 100%);
  font-size: 1rem;
  font-family: $font-family-base;
  min-height: 100vh;

}

.offcanvas {
  transform:translateX(-100%);
  position: fixed;
  left: 0;
  background:#2e302e;
  height: 100vh;
  z-index:999;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

  &.show{
    transition:transform 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);;
    transform:translateX(0);
    will-change:tranform;
  }
  .offcanvas__container {
    padding:$plank*8;
    overflow-y: auto;
    overflow-x: hidden;
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    @include scrollbars($plank, $color-brand-yellow, #2e302e);
  }

  .offcanvas__cta {
    text-align:center;
    padding:$plank*3 $plank*5;
    box-shadow: 0 -10px -2px rgba(0,0,0,1);


    left: 0;

    right: 0;


    order: 0;
    flex: 0 1 auto;
    align-self: auto;

  }
}

.sidemenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidemenu__node {
  color: white;
  font-size: 1.2rem;
  line-height: 2.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  &:not(:last-of-type) {
    padding-bottom: $plank*6;
  }

  & > li {

    &.open {
      & > ul {

        display: block;
      }
    }

    & > ul {
      list-style:none;
      padding-bottom:$plank*3;
      padding-left: $plank*3;
      display: none;
    }

  }

}

.sidemenu__section {
  text-transform: uppercase;
  padding-bottom: $plank*2;
  font-size: 1.66rem;
  color: $color-brand-yellow;
  font-family: $font-family-accent;

}

@mixin linkColors($color, $hoverColor:false) {

  &:link, &:visited {

    color: $color;

  }

  &:hover, &:visited:hover {
    @if ($hoverColor = false) {
      color: darken($color, 10%);
    } @else {
      color: $hoverColor;
    }

  }
}

.link {

  border: {
    width: 0;
  }

  @include linkColors($color-link-blue);

  &:link, &:visited {
    text-decoration: none;
  }

  &.link_black {
    @include linkColors($color-text-black);
  }

  &.link_white {
    @include linkColors(white);
  }

  &.link_underline {
    &:link, &:hover, &:visited {
      text-decoration: underline;
    }
  }

  &.link_plaintext {
    @include linkColors($color-text-black, $color-text-black);
  }

}

.link_style_accent {
  font-weight: bold;
}

.phone-link {
  @extend .link, .link_plaintext;
  font-weight: bold;
}

.mainmenu {
  display: flex;
  position: relative;
  list-style: none;
  margin: 0;

  padding: $plank*2 0;

}

.mainmenu__item {
  &:not(:last-of-type) {
    margin-right: $plank*3;
  }
  white-space: nowrap;
}

.mainmenu__link {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  @extend .link, .link_black;
  font-weight: bold;
}

.mainmenu__link_active {
  border-bottom: 1px solid $color-brand-yellow;
}

.stack {
  display: inline-flex;

  &.stack_compact{
    .stack__item {
      &:not(:last-child) {
        margin-right: $plank;
      }

    }

  }
}

.stack__item {
  &:not(:last-child) {
    margin-right: $plank*2;
  }

}



.logo {
  width: 100%;

  &.logo_mobile {
    padding: $plank 0;
    width: $plank*15;
  }
}

.toolbar {
  padding: $plank*3 0;
}

.page-header {
  padding: $plank*3 $plank*2;
}

.index-carland {
  position: relative;
  margin-bottom: $plank*3;
  background: white;
  border-top: 1px solid rgba(white, 0.4);

  &:before {
    content: "";
    background-image: url("../gfx/car-langing-bg.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.22;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;

  }

  &:after {
    content: "";
    background: white;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;

  }

}

.index-carland__headline {
  font-size: 42px;
  line-height: 1.07;
  font-family: $font-family-accent;
  padding: $plank*6 $plank*2 $plank*8 $plank*2;
}

.index-carland__car {
  max-width: 100%;
  padding: 0 $plank*2 0 0;

}

.index-carland__txtblock {
  padding-bottom: $plank*4;
  padding-right: $plank*2;
  &.index-carland__txtblock_left {
    padding: 0 0 $plank*4 $plank*2;
  }
  z-index: 1;
}

.index-carland__paragraph {
  font-size: 1.16rem;
  line-height: 1.66rem;
  padding-top: $plank*2;
}

.index-carland__actions {
  padding: $plank*3 0;
}

.index-shortland {
  position: relative;

  padding: $plank*6 $plank*7 0;

  &:after {
    content: "";
    background-image: url("../gfx/short-landing-bg.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.24;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;

  }

  &:before {
    content: "";
    background: white;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;

  }
}

.index-shortland__paragraph {
  font-size: 1.33em;
  line-height: 2.33rem;
  margin-top: $plank*5; //sorry, BEM, my bad planning
}

.index-shortland__headline {
  font-size: 2.6rem;
  font-weight: 500;
  display: block;
  padding-bottom: $plank*4;
}

.index-shortland__actions {
  padding: $plank*4 0;
}

.index-list {
  list-style: none;
  font-size: 1.33em;

  position: relative;
  padding-bottom: $plank*4;
}

.index-list__item {
  position: relative;
  &:before {
    content: '—';
    position: absolute;
    left: -$plank*3;
  }

  &:not(:last-of-type) {
    margin-bottom: $plank*2;
  }

}

.index-promo__sentence {
  padding: 0 $plank*2;
  margin-bottom: $plank*4;

}

.icon {
  &.icon_first {
    padding-right: $plank;
  }
}

@mixin buttonColors($color, $hoverColor:false) {

  background: $color;

  &:hover {
    @if ($hoverColor = false) {
      background: lighten($color, 2%);
    } @else {
      background: $hoverColor;
    }

  }
}

@mixin buttonOutlineColors($color, $hoverColor:false) {

  border-color: $color;

  &:hover {
    @if ($hoverColor = false) {
      border-color: lighten($color, 2%);
    } @else {
      border-color: $hoverColor;
    }

  }
}

%btn_outline {
  border: 2px solid $color-text-black;
  background: transparent;
}

.btn {
  cursor: pointer;
  border: none;
  height: $plank*7;
  min-width: $plank*7;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  background: white;
  padding: 0 $plank*4;
  font-weight: bold;

  &.btn_brand-yellow {
    @include buttonColors($color-brand-yellow);
  }

  &.btn_brand-yellow_outline {
    @extend %btn_outline;
    @include buttonOutlineColors($color-brand-yellow, $color-text-black);
  }

  &.btn_block {
    display: block;
    width: 100%;
  }

  &.btn_hamburger {
    @extend .btn, .btn_brand-yellow;
    margin-left: -5px;

    &:after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-top: 5px solid darken($color-brand-yellow, 10%);
      border-left: 5px solid transparent;
      bottom: -5px;
      left: -5px;

    }

  }

  &.btn_cart {

    margin-right: -5px;

    &:after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      bottom: -5px;
      right: -5px;
      border-top: 5px solid darken($color-brand-yellow, 10%);
      border-right: 5px solid transparent;

    }

  }
}

.footer {
  padding: $plank*8 $plank*3;
  .footer__heading {
    font-family: $font-family-accent;
    font-size: 1.66rem;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
  }
}

.footer__nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__logos {
  position: absolute;
  bottom: 0;
  right: 0;
}


.superbanner{

    background-color: rgb(225, 226, 231);
    box-shadow: 0px 5px 6.58px 0.42px rgba(0, 0, 0, 0.24),0px 2px 9.8px 0.2px rgba(0, 0, 0, 0.16);
    padding:$plank*4;
    margin-bottom:$plank*2;
}

.superbanner__title{
  font-family: $font-family-accent;
  font-size:2rem;
}

.content-layout{
  background:white;
  padding:$plank 0;
}


.breadcrumbs{
  display:flex;
  list-style: none;
  padding: 0 $plank*3;
  margin:0;
  text-transform:uppercase;
}

.page-title{
  text-transform: uppercase;
  padding:0 $plank*3;
}

.catalog-listing{
  padding:$plank $plank*2;
}

.catalog-listing__tr{

  padding:$plank $plank;
  border-radius:$border-radius;
  &:not(:last-child){
    border-bottom:1px solid #ebebeb;
  }
  &:hover{
    background:lighten(#ebebeb, 5%);
    &:not(:last-child){
      border-bottom:1px solid darken(#ebebeb,2%);
    }
  }
}

.catalog-listing__thead{
  padding:$plank $plank;
  border-bottom:1px solid #ebebeb;
  text-transform: uppercase;
  font-weight:bold;
  font-size:1.15rem;
}

.catalog-matrix{
  padding:$plank*3;
}

.product-card{
  &:nth-child(odd){
    background:#f3f3f4;
  }
  &:not(:last-child){
    margin-bottom:$plank*3;
  }

}

.product-card__image{
  max-width:100%;


}

ul.product-card__specs{
  list-style:none;
  padding:0;
  margin:0;
  padding:$plank*3 0;
}

p.product-card__description{

  font-size:1.15rem;
}

span.product-card__price{
  font-family: $font-family-accent;
  font-size:2rem;
}

.product-card__info{
  padding:$plank*4;
  &:after{
    content:'';
    position:absolute;
    bottom:0;
    left:-150px;
    background:url("../gfx/warranty.png");
    width:161px;
    height:72px;
  }
}

.product-card__cta{
  padding-top:$plank*4;
}









